body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.wrapper {
  padding: 0 50px;
}
.form {
  margin: 0 auto;
  width: 30%;
  margin-top: 40px;
  display: flex;
  flex-direction: column;

  justify-content: space-between;
}

.email,
.pass,
.btn {
  margin-bottom: 20px;
  padding: 10px;
}

.btn {
  max-width: 30%;
}
