* {
  box-sizing: border-box;
}

body {
  background-color: rgba(0, 0, 0, 0.05);
  max-width: 960px;
  margin: 0 auto;
  padding-top: 30px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.article {
  background-color: #fff;
  padding: 30px;
}

.page {
  height: 70vh;
}
.page__title {
  text-align: center;
  margin-top: 80px;
  margin-bottom: 90px;
}
.page__content {
  font-size: 24px;
  text-align: center;
}
